
*.iml
.idea/discord.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.xml
src/META-INF/MANIFEST.MF
src/META-INF/MANIFEST.MF
*.MF
out/production/MyLogger/config.yml
out/production/MyLogger/plugin.yml
out/production/MyLogger/x00Hero/MyLogger/Chat/ChatController.class
out/production/MyLogger/x00Hero/MyLogger/Chat/Commands/CommandManager.class
out/production/MyLogger/x00Hero/MyLogger/Events/GUI/LoggedBlock.class
out/production/MyLogger/x00Hero/MyLogger/Events/GUI/LoggedVein.class
out/production/MyLogger/x00Hero/MyLogger/Events/GUI/MenuController.class
out/production/MyLogger/x00Hero/MyLogger/Events/GUI/MenuItemClickedEvent.class
out/production/MyLogger/x00Hero/MyLogger/Events/MiningClass.class
out/production/MyLogger/x00Hero/MyLogger/Events/OreLogEvent.class
out/production/MyLogger/x00Hero/MyLogger/Events/PlayerMineEvent.class
out/production/MyLogger/x00Hero/MyLogger/File/PlayerFile.class
out/production/MyLogger/x00Hero/MyLogger/GUI/ItemBuilder.class
out/production/MyLogger/x00Hero/MyLogger/GUI/Menu.class
out/production/MyLogger/x00Hero/MyLogger/GUI/MenuItem.class
out/production/MyLogger/x00Hero/MyLogger/GUI/MenuPage.class
out/production/MyLogger/x00Hero/MyLogger/LogController.class
out/production/MyLogger/x00Hero/MyLogger/Main.class
src/META-INF/MANIFEST.MF
